:root {
  --color-primary: #0172F0;
  --color-secondary: #FFAE42;
  --color-white: #ffffff;
  --color-black: #000000;
  --gradient: linear-gradient(0deg, rgba(255,174,66,1) 0%, rgba(255,174,66,0.2007003484987745) 100%);
}
